image:
  repository: ghcr.io/mribrgr/not-just-a-developer.com
  tag: "v0.4.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  host: www.not-just-a-developer.com
  