apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  tls:
    - hosts:
      - ghostfolio.not-just-a-developer.com
      secretName: ghostfolio-not-just-a-developer-com-tls
    - hosts:
      - owntracks.not-just-a-developer.com
      secretName: owntracks-not-just-a-developer-com-tls
  rules:
    # - host: not-just-a-developer.com
    #   http:
    #     paths:
    #       - path: /
    #         pathType: Prefix
    #         backend:
    #           service:
    #             name: {{ .Chart.Name }}
    #             port:
    #               number: 80
    - host: ghostfolio.not-just-a-developer.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ghostfolio
                port:
                  number: 3333
    - host: owntracks.not-just-a-developer.com
      http:
        paths:
          - path: /mqtt
            pathType: Prefix
            backend:
              service:
                name: rabbitmq
                port:
                  number: 15675
          - path: /
            pathType: Prefix
            backend:
              service:
                name: owntracks-recorder
                port:
                  number: 8083