apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
  - protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ghostfolio
spec:
  selector:
    app: ghostfolio
  ports:
    - protocol: TCP
      port: 3333
      targetPort: 3333
---
apiVersion: v1
kind: Service
metadata:
  name: owntracks-recorder
spec:
  selector:
    app: owntracks-recorder
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083